/*About Page*/
.about{
  background-image: url(../src/team1.jpg);
}

#about-text{
  text-align: justify;
}

.page{
  min-height:100%;
  padding-top: 70px;
}

.menu-button{
  padding-right: 16px;
}

.nav-wrapper {
  padding-left: 16px;
  padding-right: 16px;
}

#navbar-fix{
  position:fixed;
}

.bg{
  background-size: cover;
  background-repeat: repeat;
  background-blend-mode: soft-light;
  background-position: bottom;
}