.page{
	min-height:100%;
  padding-top: 70px;
}

body{
  overflow: hidden;
  background-attachment: fixed;
  background-repeat: repeat;
  background-blend-mode: lighten;
  background-color: beige;
  background-image: url(../src/bg5.jpg);
}

.user-view{
  background-color: #006064;
}

.back-button{
  opacity:0.5;
}

.menu-button{
  padding-right: 16px;
}

.header-text{
	font-size:2.0rem;
	font-weight: 300;
  margin-top:56px;
}

#price-text{
  font-size:1.4rem;
  font-weight: 500;
}

.nav-wrapper {
  padding-left: 16px;
  padding-right: 16px;
}

#navbar-fix{
  position:fixed;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: gray;
}

.side-nav li>a {
  font-weight: 300;
}

.bg{
  background-size: cover;
  background-repeat: repeat;
  background-blend-mode: soft-light;
  background-position: bottom;
}

input{
  margin-bottom: 10px !important;
}

#time-div, #send-feedback-button, #checkout-button, #confirm-button,#send-otp-btn,#verify-otp-btn, #next-button{
  margin-top:20px;
}

.error-message{
  margin-top: 8px;
}

#summary-div, #address-div{
  font-size: small;
  font-weight: 300;
  background: white;
  padding: 4px 0px;
  border-radius: 8px;
  opacity: 0.8;
  border:2px dotted lightgrey;
  padding:8px;
}

.shop .row{
  margin-bottom: 0px;
}

/*Order status*/

.collapsible-body{
  padding:0px 20px;
  font-size: small;
}

/*Order History*/
.card-text{
  font-size: small;
  font-weight: 100;
}

.collapsible-header{
  background-color: darkcyan;
  color:white;
  border-style: none;
}


#scroll-area{
  max-height: 90%;
  overflow-y: scroll;
}

/*About Page*/
#about-text, #policy-body{
  text-align: justify;
}

.menu-title{
  margin-left:-24px;
  font-family: Signika;
  font-size: 1.5rem;
}

/*----------------------------Password Strength Meter Starts-------------------------------*/

#frmCheckPassword {border-top:#F0F0F0 2px solid;background:#FAF8F8;padding:10px;}
.demoInputBox{padding:7px; border:#F0F0F0 1px solid; border-radius:4px;}
#password-strength-status {padding: 5px 10px;color: #FFFFFF; border-radius:4px;margin-top:5px;}
.medium-password{background-color: #E4DB11;border:#BBB418 1px solid;}
.weak-password{background-color: #FF6600;border:#AA4502 1px solid;}
.strong-password{background-color: #12CC1A;border:#0FA015 1px solid;}

/*----------------------------Password Strength Meter Ends-------------------------------*/

.header-title{
 font-family: 'Varela Round', sans-serif;
 color:darkslategrey;
 font-size:1.4rem;
}

.total-price-text{
  font-family: 'Varela Round', sans-serif;
  font-size: 1.2rem;
  padding: 8px;
  border: 1px dashed lightgrey;
  border-radius: 16px;
}

.active-icon{
  color:green;
}

#about-body{
  height: 85%;
  overflow: scroll;
}

#hc-logo{
  margin-bottom:8px;
}


#history-tab, #current-tab{
  height:80%;
  overflow-x: scroll;
}


#login-panel{
  padding:16px;
}
